<%-include('../includes/head.ejs')%>
<%-include('../includes/adminNavigation.ejs')%>
<main class="container">
    <h1 class="text-center mt-4"><%=error%></h1>
</main>
<%-include('../includes/end.ejs')%>