<form method="POST" action="/user/register" class="mt-4">
    <h1 class="text-center w-100">Login</h1>
    <div class="mb-3">
      <label for="name" class="form-label">name</label>
      <input type="text"  name="name" class="form-control" id="name" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="email" url="form-label">email</label>
      <input type="email"  name="email" class="form-control" id="email">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>